
.AgentBadgeDump {
  color: white;
  background-color: red;
  margin: 2px;
  width: 24px;
  height: 24px;
  display: block;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  float: left;
}