
.Card {
  background-color: #ffffff;
  padding: 1em;
  //margin-bottom: 16px;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 96px;
}

.Card-title{
  font-size: 20px;
  padding-bottom: 8px;
}

.Card-detail {
  color: #707070;
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.Card-count {
  color: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 26px;
  padding: 7px 14px;
  border-radius: 3px;
}

.Calls-incomming {
  background-color: #20d077;
}

.Calls-answered {
  background-color: #007be5;
}

.Calls-notanswered {
  background-color: #f9c851;
}

.Calls-abandon {
  background-color: #ef6262;
}